<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="headerImport" th:remove="tag">
    <script type="text/javascript">
        window._wpemojiSettings = {
            "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/72x72\/",
            "ext": ".png",
            "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.0\/svg\/",
            "svgExt": ".svg",
            "source": {"concatemoji": "http:\/\/demoapus-wp1.com\/travlio\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.5.10"}
        };
        !function (e, a, t) {
            var n, r, o, i = a.createElement("canvas"), p = i.getContext && i.getContext("2d");

            function s(e, t) {
                var a = String.fromCharCode;
                p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, e), 0, 0);
                e = i.toDataURL();
                return p.clearRect(0, 0, i.width, i.height), p.fillText(a.apply(this, t), 0, 0), e === i.toDataURL()
            }
            function c(e) {
                var t = a.createElement("script");
                t.src = e, t.defer = t.type = "text/javascript", a.getElementsByTagName("head")[0].appendChild(t)
            }
            for (o = Array("flag", "emoji"), t.supports = {
                everything: !0,
                everythingExceptFlag: !0
            }, r = 0; r < o.length; r++) t.supports[o[r]] = function (e) {
                if (!p || !p.fillText) return !1;
                switch (p.textBaseline = "top", p.font = "600 32px Arial", e) {
                    case"flag":
                        return s([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) ? !1 : !s([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !s([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]);
                    case"emoji":
                        return !s([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212])
                }
                return !1
            }(o[r]), t.supports.everything = t.supports.everything && t.supports[o[r]], "flag" !== o[r] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[o[r]]);
            t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag, t.DOMReady = !1, t.readyCallback = function () {
                t.DOMReady = !0
            }, t.supports.everything || (n = function () {
                t.readyCallback()
            }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function () {
                "complete" === a.readyState && t.readyCallback()
            })), (n = t.source || {}).concatemoji ? c(n.concatemoji) : n.wpemoji && n.twemoji && (c(n.twemoji), c(n.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel="stylesheet" href="wp-content/cache/minify/e4bc2.css" media="all">


    <link rel='stylesheet' id='travlio-theme-fonts-css'
          href='../css?family=Montserrat:400,400i,500,600,700&#038;subset=latin%2Clatin-ext' type='text/css'
          media='all'>
    <link rel="stylesheet" href="wp-content/cache/minify/46516.css" media="all">

    <link rel='stylesheet' id='google-fonts-1-css'
          href='../css-1?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CLora%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&#038;ver=5.5.10'
          type='text/css' media='all'>
    <script src="wp-content/cache/minify/82eb8.js"></script>

    <link rel="https://api.w.org/" href="wp-json/index.htm">
    <link rel="alternate" type="application/json" href="wp-json/wp/v2/pages/32">
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc.php?rsd">
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml">
    <meta name="generator" content="WordPress 5.5.10">
    <link rel="canonical" href="index.html">
    <link rel='shortlink' href='index.html'>
    <link rel="alternate" type="application/json+oembed"
          href="wp-json/oembed/1.0/embed?url=http%3A%2F%2Fdemoapus-wp1.com%2Ftravlio%2F">
    <link rel="alternate" type="text/xml+oembed"
          href="wp-json/oembed/1.0/embed-1?url=http%3A%2F%2Fdemoapus-wp1.com%2Ftravlio%2F&#038;format=xml">
</div>

<div th:fragment="headerMenu" th:remove="tag">

    <div id="apus-header" class="href="/"">
        <div data-elementor-type="wp-post" data-elementor-id="106" class="elementor elementor-106"
             data-elementor-settings="[]">
            <div class="elementor-inner">
                <div class="elementor-section-wrap">
                    <section
                            class="elementor-section elementor-top-section elementor-element elementor-element-b4f1c5a elementor-section-stretched elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                            data-id="b4f1c5a" data-element_type="section"
                            data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-extended">
                            <div class="elementor-row">
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d537b48"
                                     data-id="d537b48" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-4dcff85 elementor-widget__width-auto elementor-widget elementor-widget-apus_element_logo"
                                                 data-id="4dcff85" data-element_type="widget"
                                                 data-widget_type="apus_element_logo.default">
                                                <div class="elementor-widget-container">
                                                    <div class="logo ">
                                                        <a href="/">
                <span class="logo-main">
                    <img width="242" height="67" src="wp-content/uploads/2020/08/logo.png"
                         class="attachment-full size-full" alt="" loading="lazy">                </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="elementor-element elementor-element-361a91b elementor-widget__width-auto elementor-widget elementor-widget-apus_element_primary_menu"
                                                 data-id="361a91b" data-element_type="widget"
                                                 data-widget_type="apus_element_primary_menu.default">
                                                <div class="elementor-widget-container">
                                                    <div class="main-menu  ">
                                                        <nav data-duration="400"
                                                             class="apus-megamenu slide animate navbar p-static"
                                                             role="navigation">
                                                            <div class="collapse navbar-collapse no-padding">
                                                                <ul id="primary-menu"
                                                                    class="nav navbar-nav megamenu effect1 ">
                                                                    <li class="menu-item-65 aligned-left" ><a href="/" th:text="#{menu.home}">HOME</a></li>
                                                                    <li class="menu-item-65 aligned-left"><a href="blog/index.htm" th:text="#{menu.blog}">BLOG</a></li>
                                                                    <li class="menu-item-64 aligned-left"><a
                                                                            href="about/index.htm" th:text="#{menu.about}">ABOUT</a></li>
                                                                    <li class="menu-item-66 aligned-left"><a
                                                                            href="contact/index.htm" th:text="#{menu.contack}">CONTACT</a></li>

                                                                </ul>
                                                            </div>
                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-acef2c1"
                                     data-id="acef2c1" data-element_type="column">
                                    <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                            <div class="elementor-element elementor-element-1e2d282 elementor-widget__width-auto elementor-widget elementor-widget-apus_user_info"
                                                 data-id="1e2d282" data-element_type="widget"
                                                 data-widget_type="apus_user_info.default">
                                                <div class="elementor-widget-container">
                                                    <div class="account-login">
                                                        <ul class="login-account">
                                                            <li>
                                                                <a href="?lang=hy"><img src="wp-content/uploads/2020/08/hy drosh.jpg"></a>

                                                            </li>
                                                            <li>
                                                                <a href="?lang=ru"><img src="wp-content/uploads/2020/08/ru drosh.jpg"></a>
                                                            </li>
                                                            <li>
                                                                <a href="?lang"><img src="wp-content/uploads/2020/08/us drosh.jpg"></a>
                                                            </li>
                                                            <li><i class="fas fa-user-circle text-green"></i>
                                                                <a href="/signin" class="wel-user" th:text="#{main.signin}">SIGN IN</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>


</body>
</html>

